@media screen and (max-width: 1000px){
    

.navbar{
    flex-direction: column;
    /* flex-wrap: wrap; */
    line-height: 50px;
}

.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    justify-content: space-around;
}

.post{
    flex-direction: column;
    /* line-height: 20px; */
}

.contents .post img{
    width: 250px;
    height: 150px;
}

.contents .post .text{
    position: relative;
    right: 15px;
}

.contents .post .text .top{
    padding-bottom: 10px;
}

.contents .post .text .mid{
    padding-bottom: 10px;
}

.sidebars .post .text{
    position: relative;
    right: 8px;
}

.sidebars .post .text a{
    padding: 8px 0px;
}

}

@media screen and (max-width:600px){
    .footer-area .main-footer{
        display: grid;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .footer-area .main-footer h3{
        text-align: center;
    }
}